@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosansscsliced.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);

img {
	width: 50%;
}

body,td,th {
	min-height: 100%;
	height: 100%;
	font-family: Roboto, 'Noto Sans SC Sliced', sans, sans-serif;
	background-color: #008CFF;
	color: #FFFFFF;
	text-align: center; 
	margin: 0;
}
.no-underline {text-decoration: none;}
a {
	color: #FFFFFF;
}
.warning1 {
	font-weight: bold;
	background: #FF0000;
	padding: 10px;
	text-align: left;
	font-size: small;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}
.warning2 {
	font-weight: bold;
	background: #FFFF00;
	color: #000000;
	padding: 10px;
	text-align: left;
	font-size: small;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}
.officialad {
	font-weight: bold;
	background: #00FF00;
	color: #000000;
	padding: 10px;
	text-align: left;
	font-size: small;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}
.mtest {
	padding: 20px;
	min-height: 100%;
	word-wrap: break-word;
}
@media screen and (max-width: 600px) {
	.warning1 {width: calc(100% - 20px);}
	.warning2 {width: calc(100% - 20px);}
	.officialad {width: calc(100% - 20px);}
	img {width: 100%;}
}
